# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0

# Redis
REDIS_HOST=redis-xxxxx.xxxx.ap-south-1-1.ec2.cloud.redislabs.com
REDIS_PORT=12334
REDIS_PASSWORD=your_redis_password_here

# BullMQ
QUEUE_CONCURRENCY=5
QUEUE_MAX_RETRIES=3

# Cron (every 1 hour)
CRON_SCHEDULE=0 * * * *

# Job feed URLs (comma-separated) — exact list from assignment PDF
JOB_FEED_URLS=https://jobicy.com/?feed=job_feed,https://jobicy.com/?feed=job_feed&job_categories=smm&job_types=full-time,https://jobicy.com/?feed=job_feed&job_categories=seller&job_types=full-time&search_region=france,https://jobicy.com/?feed=job_feed&job_categories=design-multimedia,https://jobicy.com/?feed=job_feed&job_categories=data-science,https://jobicy.com/?feed=job_feed&job_categories=copywriting,https://jobicy.com/?feed=job_feed&job_categories=business,https://jobicy.com/?feed=job_feed&job_categories=management,https://www.higheredjobs.com/rss/articleFeed.cfm

# CORS
FRONTEND_URL=http://localhost:3000
